body
{
    background-color: antiquewhite;
}
*{
  margin: 0;
  padding: 0;
}
nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  height: 70px;
  background-color: black;
  color: aliceblue;
}
nav ul li{
  padding: 0 12px;
  
}
.brand img{
  width: 40;
  padding: 0 12px;
}
.brand
{
  align-items: center;
  display: flex;
  font-weight: bold;
}
