.NavigationPart{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 150px;
}
.InfluerncerProduct{
    margin-right: 900px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.About{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.Home{
    margin-top: 53px;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.Product{
    margin-top: 53px;
    margin-right: 20px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.SignUp{
    margin-top: 53px;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
}
.Login{
    margin-top: 53px;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
}
.Search{
    margin-top: 53px;
    margin-right: 20px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.ShopingCart{
    margin-top: 53px;
    margin-right: 20px; 
}
.SecondPart{
    margin-left: 50px;

}
.StartYourJourny{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    size: 52px;
    font-size: 52px;
}
.Lorium{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    size: 16px;
    font-size: 16px;
}
.Second{
    display: flex;
    flex-direction: row;
}
.Image{
   margin-left: 400px;
   height: 300px;
   width: 300px;
   background-image: url("Camera.png");
   background-attachment: fixed;
   background-size: cover;
   object-fit: fill;
}